header {
    background-color: rgb(76, 6, 119);
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 7px 7px 7px black;
}

@keyframes bounce {

    0%,
    20%,
    60%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }

    80% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
}

.fotosindex {
    background-attachment: fixed;
    background-color: #000;
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
    border: 0;
    font-size: 100%;
    margin: 0;
    padding: 0;
}

.menu {
    text-align: center;
}

.efeito {
    border: none;
    border-radius: 15px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    font-size: 24px;
    line-height: 24px;
    margin: 20px;
    padding: 20px;
    position: relative;
    text-shadow: 3px 3px 3px black;
    transition: all 400ms ease;
}

.efeito2 {
    background-color: #018a23;
}

.efeito2:before {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    content: '';
    height: 64px;
    left: 0px;
    position: absolute;
    transition: all 2s ease;
    top: 0px;
    width: 0px;
}

.efeito2:hover:before {
    width: 100%;
}

body {
    background-color: rgb(245, 245, 245);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.realstate {
    background-color: white;
    color: #030;
    font-size: 40px;
    font-weight: bold;
    padding: 50px;
    padding-bottom: 0px;
    padding-left: 500px;
    padding-right: 500px;
    text-shadow: 1px 1px 1px rgb(46, 94, 48);
}

.expertise {
    background-color: white;
    color: #f39c12;
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 50px;
    text-shadow: 1px 1px 1px rgb(46, 94, 48);
}

.pronunciation {
    background-color: rgb(245, 245, 245);
    color: rgb(76, 6, 119);
    font-size: 25px;
    margin-left: 450px;
    margin-right: 450px;
    padding-top: 50px;
    text-align: center;
    text-shadow: 1px 1px 1px black;
}

.lulavideo {
    background-color: rgb(245, 245, 245);
    height: 500px;
    position: center;
    text-align: center;
    width: 800px;
}

.lula {
    background-color: rgb(245, 245, 245);
    font-size: 22px;
    font-weight: bold;
    margin-left: 500px;
    margin-right: 500px;
    padding: 50px;
    padding-bottom: 50px;
}

.norway {
    align-items: center;
    background-color: rgb(6, 5, 87);
    display: flex;
    flex-direction: row;
}

.norwaytitle {
    color: #27ae60;
    font-size: 60px;
    margin: 50px;
    text-shadow: 5px 5px 5px black;
}

.amazoniapng {
    height: 45%;
    width: 45%;
}

.norwaytxt {
    color: rgb(0, 0, 0);
    font-size: 22px;
    font-weight: bold;
    margin-left: 500px;
    margin-right: 500px;
    padding: 50px;
    padding-bottom: 100px;
}

.footer {
    background-color: rgb(76, 6, 119);
    color: white;
    font-size: 20px;
    height: 50px;
    padding-top: 40px;
    position: relative;
    text-align: center;
}