header {
    font-family: Arial, Helvetica, sans-serif;
    margin: 15px;
    text-shadow: 7px 7px 7px black;
}

@keyframes bounce {

    0%,
    20%,
    60%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }

    80% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
}

.menu {
    text-align: center;
}

.efeito {
    border: none;
    border-radius: 15px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    font-size: 24px;
    line-height: 24px;
    margin: 10px;
    padding: 20px;
    position: relative;
    text-shadow: 3px 3px 3px black;
    transition: all 400ms ease;
}

.efeito2 {
    background-color: #018a23;
}

.efeito2:before {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    content: '';
    height: 64px;
    left: 0px;
    position: absolute;
    transition: all 2s ease;
    top: 0px;
    width: 0px;
}

.efeito2:hover:before {
    width: 100%;
}

body {
    background-color: rgb(76, 6, 119);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.texto1 {
    background-color: rgb(6, 5, 87);
    color: rgb(255, 255, 255);
    font-size: 35px;
    padding: 20px;
    padding-bottom: 20px;
    text-align: center;
    text-shadow: 7px 7px 7px black;
}

.amazonia003 {
    text-align: center;
}

.texto2 {
    color: rgb(255, 255, 255);
    font-size: 25px;
    margin-top: 20px;
    margin-left: 200px;
    margin-right: 200px;
    padding: 20px;
    padding-bottom: 20px;
    text-align: center;
    text-shadow: 7px 7px 7px black;
}

.amazonia004 {
    text-align: center;
}

.texto3 {
    background-color: rgb(6, 5, 87);
    color: rgb(255, 255, 255);
    font-size: 25px;
    padding: 20px;
    padding-bottom: 20px;
    text-align: center;
    text-shadow: 7px 7px 7px black;
}

.footer {
    background-color: rgb(76, 6, 119);
    color: white;
    font-size: 20px;
    height: 50px;
    padding-top: 40px;
    position: relative;
    text-align: center;
}